body, html {
margin: 0;
padding: 0;
background-color: #ECE9DB;
font-family: 'Spectral', serif;
height: 100%;
position: relative;
scroll-behavior: smooth;
}

/* Costumizacao da Scroll Bar */
body::-webkit-scrollbar {
width: 13px;
}

body::-webkit-scrollbar-track {
background-color: #dadada;
}

body::-webkit-scrollbar-thumb {
background-color: #384469;
border-left: 1px solid #c4c4c4;
}

body::-webkit-scrollbar-thumb:hover {
background-color: #272f49;
}

/* Landing page */

.landing-container {
position: relative;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
}


.landing-image {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('/Images/Destinos/Porto\ wallpaper\ dark.png');
background-position: center;
background-size: cover;
z-index: 0;
} 

.landing-layer1 {
position: absolute;
top: -17px;
left: 0;
width: 100%;
height: 100%;
background-image: url('destinos_Porto.png');
background-size: cover;
opacity: 1;
}


/* Setas animacao scroll */
.arrows {
width: 60px;
height: 72px;
position: absolute;
left: 50%;
margin-left: -30px;
bottom: 20px;
cursor: pointer;
}

.arrows path {
stroke: #ffffff;
fill: transparent;
stroke-width: 2px;  
animation: arrow 2s infinite;
-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow 
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
animation-delay:-1s;
-webkit-animation-delay:-1s;
}

.arrows path.a2 {
animation-delay:-0.5s;
-webkit-animation-delay:-0.5s;
}

.arrows path.a3 { 
animation-delay:0s;
-webkit-animation-delay:0s;
}


/* Tudo relativo a navbar apos landing page */
/* navbar */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(56, 68, 105);
padding: 7px;
}

.navbarlogo-container {
flex-shrink: 0;
margin-left: auto;
margin-right: 890px;
background-color: transparent;
border: none;
cursor: pointer;
}

#nav-logo {
width: 113px;
height: auto;
}

/*Menu dropdown*/
.menudropdown-container {
order: -1;
position: relative;
z-index: 1;
}

.menu-links {
display: flex;
align-items: center;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropbtn {
background-color: transparent;
border: none;
cursor: pointer;
padding: 10px;
transition: background-color 0.3s ease;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #ffffff;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.275);
}

.dropdown-content a {
color: #384469;
font-size: large;
font-family: 'Spectral', serif;
font-style: italic;
background-color: #ffffff;
padding: 12px 16px;
display: block;
text-decoration: none;
transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-content a:hover {
background-color: #0000001c;
}


/* Conteudo do resto da pagina */

/* BTNS */
.btns-container {
display:flex;
justify-content: center;
gap: 50px;
align-items: center;
margin-top: 25px;
}

.btns {
font-family:'Spectral', serif;
font-style: italic;
font-weight: 600;
font-size: 19px;
background-color: #ffffff;
color: #b9ac92;
padding: 8px 8px 8px;
border: 1px solid #c1beab;
border-radius: 5px;
box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
cursor: pointer;
transition: background-color 0.5s ease;
}

.btns:hover {
background-color: #D5D1BD;
color: #ffffff;
}

/* linhas verticais */
hr {
width: 70%;
border-top: 1px solid #ffffff;
margin-top: 20px;
box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.400);
}

/* WHY PORTO? title */
.porto-title {
font-family:'Spectral', serif;
font-style: italic;
font-size: 20px;
color: #384469;
display: flex;
justify-content: center;
margin-top: 50px;
}

.porto-description {
font-family:'Spectral', serif;
font-style: normal;
font-size: 30px;
color: #384469;
display: flex;
justify-content: center;
text-align: center;
}

/* Wallpaper 2 */
.porto_wallpaper-container {
display: flex;
justify-content: center;
align-items: center;
margin-top: 70px;
margin-bottom: 70px;
}

.porto-wallpaper2 {
width: 1338px;
height: 725px;
} 


/* Points of interest */
.PoI-title { 
font-family:'Spectral', serif;
font-style: italic;
font-weight: 600;
font-size: 40px;
color: #384469;
margin-top: 50px;
align-items: center;
justify-content: center;
display: flex;
}

.PoI-container {
display: flex;
justify-content: center;
align-items:flex-start;
}

.PoI_slider-container { /*contentor SLIDER*/
position: relative;
display: flex;
left: 92px;
overflow: hidden;
max-width: 1000px;
max-height: 600px;
margin-top: -25px;
margin-bottom: 70px;
}

.sliderPoI {
display: flex;
transition: transform 0.5s ease-in-out;
}

.slidePoI {
flex: 0 0 100%;
position: relative;
}

.slidePoI img {
width: 100%;
height: 100%;
}

.slide-contentPoI {
position: absolute;
bottom: 0;
background: hsla(0, 0%, 0%, 0.700);
width: 100%;
padding: 10px;
color: #ffffff;
}

.slidePoI h1 {
font-family: 'Spectral', serif;
font-style: italic;
margin: 0;
margin-left: 10px;
}

.slidePoI p {
font-family: 'Spectral', serif;
font-size: 20px;
margin: 0;
margin-left: 10px;
}

.prevBtnPoI { /*btn previous*/
position: relative;
font-family: 'Spectral', serif;
font-style: italic;
font-size: 19px;
font-weight: 600;
padding: 8px 15px 8px;
background-color: #ffffff;
color: #b9ac92;
border: 1px solid #c1beab;
border-radius: 5px;
cursor: pointer;
left: -1050px;
margin-top: 285px;
transition: background-color 0.5s ease;
}

.prevBtnPoI:hover {
background-color: #D5D1BD;
color: #ffffff;
}

.nextBtnPoI { /*btn next*/
position: relative;
font-family: 'Spectral', serif;
font-style: italic;
font-size: 19px;
font-weight: 600;
padding: 8px 15px 8px;
background-color: #ffffff;
color: #b9ac92;
border: 1px solid #c1beab;
border-radius: 5px;
cursor: pointer;
right: -18px;
margin-top: 285px;
transition: background-color 0.5s ease;
}

.nextBtnPoI:hover {
background-color: #D5D1BD;
color: #ffffff;
}



/* What to visit */
.WtV-title { 
font-family:'Spectral', serif;
font-style: italic;
font-weight: 600;
font-size: 40px;
color: #384469;
margin-top: 50px;
align-items: center;
justify-content: center;
display: flex;
}

.WtV-container {
display: flex;
justify-content: center;
align-items:flex-start;
}

.WtV_slider-container { /*contentor SLIDER*/
position: relative;
display: flex;
left: 92px;
overflow: hidden;
max-width: 1000px;
max-height: 600px;
margin-top: -25px;
margin-bottom: 70px;
}

.sliderWtV {
display: flex;
transition: transform 0.5s ease-in-out;
}

.slideWtV {
flex: 0 0 100%;
position: relative;
}

.slideWtV img {
width: 100%;
height: 100%;
}

.slide-contentWtV {
position: absolute;
bottom: 0;
background: hsla(0, 0%, 0%, 0.700);
width: 100%;
padding: 10px;
color: #ffffff;
}

.slideWtV h1 {
font-family: 'Spectral', serif;
font-style: italic;
margin: 0;
margin-left: 10px;
}

.slideWtV p {
font-family: 'Spectral', serif;
font-size: 20px;
margin: 0;
margin-left: 10px;
}

.prevBtnWtV { /*btn previous*/
position: relative;
font-family: 'Spectral', serif;
font-style: italic;
font-size: 19px;
font-weight: 600;
padding: 8px 15px 8px;
background-color: #ffffff;
color: #b9ac92;
border: 1px solid #c1beab;
border-radius: 5px;
cursor: pointer;
left: -1050px;
margin-top: 285px;
transition: background-color 0.5s ease;
}

.prevBtnWtV:hover {
background-color: #D5D1BD;
color: #ffffff;
}

.nextBtnWtV { /*btn next*/
position: relative;
font-family: 'Spectral', serif;
font-style: italic;
font-size: 19px;
font-weight: 600;
padding: 8px 15px 8px;
background-color: #ffffff;
color: #b9ac92;
border: 1px solid #c1beab;
border-radius: 5px;
cursor: pointer;
right: -18px;
margin-top: 285px;
transition: background-color 0.5s ease;
}

.nextBtnWtV:hover {
background-color: #D5D1BD;
color: #ffffff;
}



/* Where to Eat */
.WtE-title {
font-family:'Spectral', serif;
font-style: italic;
font-weight: 600;
font-size: 40px;
color: #384469;
margin-top: 50px;
align-items: center;
justify-content: center;
display: flex;
}

.WtE-container {
justify-content: space-between;
}

.trigocantos-container {
border: 2px solid #9A8F78;
border-radius: 8px;
max-width: 500px;
max-height: 800px;
margin-left: 100px;
padding: 15px;
}

.trigocantos-container img {
width: 100%;
border-radius: 8px 8px 0 0;
}

.trigocantos-container h1 {
font-family:'Spectral', serif;
font-style: italic;
font-weight: 600;
font-size: 30px;
color: #384469;
margin: 10px 0;
text-align: center;
}

.trigocantos-rating {
margin-bottom: 10px;
display: flex;
align-items: center;
justify-content: center;
}

.tripadvisor-btn {
cursor: pointer;
background-color: transparent;
border: none;
margin-top: -10px;
}

.tripadvidor-icon {
height: 50px;
width: auto;
}

.trigocantos-container p {
font-family:'Spectral', serif;
font-weight: 500;
font-size: 25px;
color: #384469;
margin: 10px 0;
text-align: center;
}

.map-icon {
width: auto !important;
height: 24px;
margin-right: 5px;
margin-bottom: -3px;
}

.phone-icon {
width: auto !important;
height: 24px;
margin-right: 5px;
margin-bottom: -3px;
}















/* BTN scroll up */
.up-arrow-btn {
width: 40px;
height: 40px;
margin-left: 1850px;
margin-top: 200px;
color: #384469;
background-color: transparent;
border: none;
padding: 0; 
cursor: pointer;
}

