body, html {
margin: 0;
padding: 0;
font-family: 'Spectral', serif;
height: 100%;
position: relative;
scroll-behavior: smooth;
}

/* Costumizacao da Scroll Bar */
body::-webkit-scrollbar {
width: 13px;
}

body::-webkit-scrollbar-track {
background-color: #dadada;
}

body::-webkit-scrollbar-thumb {
background-color: #384469;
border-left: 1px solid #c4c4c4;
}

body::-webkit-scrollbar-thumb:hover {
background-color: #272f49;
}

/* Landing page */
.landing-container {
position: relative;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
}

.landing-image {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('/Images/Destinos/Porto\ wallpaper\ dark.png');
background-position: center;
background-size: cover;
}

/* Setas animacao scroll */
.arrows {
width: 60px;
height: 72px;
position: absolute;
left: 50%;
margin-left: -30px;
bottom: 20px;
cursor: pointer;
}

.arrows path {
stroke: #ffffff;
fill: transparent;
stroke-width: 2px;  
animation: arrow 2s infinite;
-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow 
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
animation-delay:-1s;
-webkit-animation-delay:-1s;
}

.arrows path.a2 {
animation-delay:-0.5s;
-webkit-animation-delay:-0.5s;
}

.arrows path.a3 { 
animation-delay:0s;
-webkit-animation-delay:0s;
}


/* Tudo relativo a navbar apos landing page */
/* navbar */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(56, 68, 105);
padding: 7px;
}

.navbarlogo-container {
flex-shrink: 0;
margin-left: auto;
margin-right: 890px;
background-color: transparent;
border: none;
cursor: pointer;
}

#nav-logo {
width: 113px;
height: auto;
}

/*Menu dropdown*/
.menudropdown-container {
order: -1;
position: relative;
z-index: 1;
}

.menu-links {
display: flex;
align-items: center;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropbtn {
background-color: transparent;
border: none;
cursor: pointer;
padding: 10px;
transition: background-color 0.3s ease;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #ffffff;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.275);
}

.dropdown-content a {
color: #384469;
font-size: large;
font-family: 'Spectral', serif;
font-style: italic;
background-color: #ffffff;
padding: 12px 16px;
display: block;
text-decoration: none;
transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-content a:hover {
background-color: #0000001c;
}


/* Conteudo do resto da pagina */

/*  */