body, html {
  margin: 0;
  padding: 0;
  font-family: 'Spectral', serif;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
} 

/* Costumizacao da Scroll Bar */
body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background-color: #dadada;
}

body::-webkit-scrollbar-thumb {
  background-color: #384469;
  border-left: 1px solid #c4c4c4;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #272f49;
}

/* landing page */
.landing-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.landing-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #001046, #ECE9DB);
}

.landing-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Images/sky.png');
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}

.additional-layer2::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Images/clouds.png');
  background-position: top;
  background-size: 65%;
  background-repeat: no-repeat;
  opacity: 0.15;
}

.additional-layer1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Images/mountains.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.landing-image::before {
  content: "";
  position: absolute;
  top: -250px;
  left: 275px;
  width: 100%;
  height: 100%;
  background-image: url('/Images/sun.png');
  background-size: 40%;
  background-position: right;
  opacity: 1;
  background-repeat: no-repeat;
}

#logo {
  width: 150px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 0px;
}

/* Login e Signup btns */
.loginBtn {
  cursor: pointer;
  width: 60px;
  height: 25px;
  position: absolute;
  top: 55px;
  right: 110px;
  border: 1px solid #dadada;
  font-family: serif;
  color: #dadada;
  background-color: transparent;
  font-size: 15px;
  transition: background-color 0.5s ease;
}

.loginBtn:hover {
  color: white;
  border: 1px solid white;
  transition: border-color 0.5s ease, color 0.5s ease;
}

.signupBtn {
  cursor: pointer;
  width: 60px;
  height: 25px;
  position: absolute;
  top: 55px;
  right: 42px;
  border: none;
  font-family: serif;
  background-color: #dadada;
  color: rgb(56, 68, 105);
  font-size: 15px;
  transition: background-color 0.5s ease;
}

.signupBtn:hover {
  background-color: rgb(255, 255, 255);
}

.h1-landing { /* titulo landingpage */
  color: rgb(255,255,255);
  text-align: center;
  font-weight: 540;
  font-family: serif;
  font-style: italic;
  font-size: 75px;
  margin-top: -150px;
  margin-bottom: 10px;
  position: relative;
}

/* Search bar */
.barra-de-pesquisa {
  margin: 0 auto;
  width: 800px;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}

.barra-de-pesquisa input[type="text"] {
  width: 560px;
  padding: 13px;
  border: none;
  margin-right: 55px;
  font-size: 25px;
  font-family: serif;
  font-style: italic;
  outline: 0;
}

.barra-de-pesquisa input[type="text"]::placeholder {
  text-align: right;
  margin-left: 180px;
  margin-right: 90px;
  font-size: 25px;
  color: #aeaeae;
}

.search-Btn {
  font-style:italic;
}

.barra-de-pesquisa button[type="submit"] {
  width: 150px;
  padding: 13px;
  border: none;
  border-radius: 2px;
  background-color: #384469;
  color: #ffffff;
  font-size: 26px;
  font-family: serif;
  cursor: pointer;
  transition: background-color 0.5s ease;
  position: relative;
  right: 0;
}

.barra-de-pesquisa button[type="submit"]:hover {
  background-color: #272f49;
}

.icon-aviao { 
  fill: white;
  position: relative;
  top: -1px;
  margin-left: 0px;
  rotate: -45deg;
}

/* Setas animacao scroll */
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  cursor: pointer;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 2px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow 
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s;
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s;
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s;
}


/* Tudo relativo a navbar apos landing page */
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 68, 105);
  padding: 7px;
}

.navbarlogo-container {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: 890px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#nav-logo {
  width: 113px;
  height: auto;
}

/*Menu dropdown*/
.menudropdown-container {
  order: -1;
}

.menu-links {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.275);
}

.dropdown-content a {
  color: #384469;
  font-size: large;
  font-family: 'Spectral', serif;
  font-style: italic;
  background-color: #ffffff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #0000001c;
}


/* Conteudo do resto da pagina */

/* POPULAR DESTINATIONS */
main {
  background-color: #ECE9DB;
}

.h1-pd { /* Titulo "Popular Destinations" */
  font-family: serif;
  font-style: italic;
  font-weight: 580;
  font-size: 55px;
  color: #384469;
  text-align: center;
  padding-top: 50px;
  margin-top: 0;
}


/* "Destinos Populares" conteudo */
.destinos_populares-container{
  display: flex;
  justify-content: space-between;
  max-width: 43%;
  margin: 0 auto;
}

/* PARIS */
.paris-container {
  position: relative;
  width: 100%;
  max-width: 250px;  
  margin: 0;
  box-sizing: border-box;
}

.wallpaper-paris {
  width: 100%;
  height: 300px;  /* altura da imagem (300px) */
  overflow: hidden;
}

.paris-img {
  width: 220%;
  height: auto;
  display: block;
  transform: translateX(-47%); /* altera posicao da imagem no container */
}

.descricao-paris {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  height: 179px; /* alterar tamanho da caixa branca */
}

.descricao-paris h2 {
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
  font-style: italic;
  font-weight: 580;
  color: #384469;
}

.descricao-paris p {
  margin-top: -20px;
  margin-left: -10px;
  margin-bottom: 10px;
  color: #384469;
}

.descricao-paris button {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffffff;
  color: #b9ac92;
  padding: 10px 20px;
  border: 1px solid #b9ac92;
  border-radius: 2px;
  margin-top: 24px;
  margin-left: -10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.descricao-paris button:hover {
  background-color: #D5D1BD;
  color: #ffffff;
}

/*LONDON*/
.london-container {
  position: relative;
  max-width: 250px;  
  margin: 0;
  overflow: hidden;
}

.wallpaper-london {
  width: 100%;
  height: 300px;  /* altura da imagem (300px) */
  overflow: hidden;
}

.london-img {
  width: 220%;
  height: auto;
  display: block;
  transform: translateX(-15%) translateY(-10%);
}

.descricao-london {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.descricao-london h2 {
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
  font-style: italic;
  font-weight: 580;
  color: #384469;
}

.descricao-london p {
  margin-top: -20px;
  margin-left: -10px;
  margin-bottom: 10px;
  color: #384469;
}

.descricao-london button {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffffff;
  color: #b9ac92;
  padding: 10px 20px;
  border: 1px solid #b9ac92;
  border-radius: 2px;
  margin-left: -10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.descricao-london button:hover {
  background-color: #D5D1BD;
  color: #ffffff;
}

/*MILANO*/
.milan-container {
  position: relative;
  max-width: 250px;  
  margin: 0;
  overflow: hidden;
}

.wallpaper-milan {
  width: 100%;
  height: 300px;  /* altura da imagem (300px) */
  overflow: hidden;
}

.milan-img {
  width: 220%;
  height: auto;
  display: block;
  transform: translateX(-50%);
}

.descricao-milan {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.descricao-milan h2 {
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
  font-style: italic;
  font-weight: 580;
  color: #384469;
}

.descricao-milan p {
  margin-top: -20px;
  margin-left: -10px;
  margin-bottom: 10px;
  color: #384469;
}

.descricao-milan button {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffffff;
  color: #b9ac92;
  padding: 10px 20px;
  border: 1px solid #b9ac92;
  border-radius: 2px;
  margin-left: -10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.descricao-milan button:hover {
  background-color: #D5D1BD;
  color: #ffffff;
}

/* PD see all btn */
.see-all-pd_btn {
  background-color: #384469;
  color: #fff;
  font-family: 'Spectral', serif;
  font-style: italic;
  font-size: 17px;
  padding: 7px 30px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px auto 0;
  transition: background-color 0.5s ease;
}

.see-all-pd_btn:hover {
  background-color: #272f49;
}


/* Travel Enthusiasts Recommends */
.h1-te_recommends {
  font-family: serif;
  font-style: italic;
  font-weight: 580;
  font-size: 55px;
  color: #384469;
  text-align: center;
  margin-top: 125px;
}

/* "TE Recommends" conteudo */
.te_recommends-container{
  display: flex;
  justify-content: space-between;
  max-width: 43%;
  margin: 0 auto;
}

/*PORTO*/
.porto-container{
  position: relative;
  max-width: 250px;  
  margin: 0;
  overflow: hidden;
}

.wallpaper-porto{
  width: 100%;
  height: 300px;  /* altura da imagem (300px) */
  overflow: hidden;
}

.porto-img{
  width: 220%;
  height: auto;
  display: block;
  transform: translateX(-37%); /* altera posicao da imagem no container */
}

.descricao-porto{
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  height: 179px; /* alterar tamanho da caixa branca */
}

.descricao-porto h2 {
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
  font-style: italic;
  font-weight: 580;
  color: #384469; 
}

.descricao-porto p {
  margin-top: -20px;
  margin-left: -10px;
  margin-bottom: 10px;
  color: #384469;
}

.descricao-porto button {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffffff;
  color: #b9ac92;
  padding: 10px 20px;
  border: 1px solid #b9ac92;
  border-radius: 2px;
  margin-top: 24px;
  margin-left: -10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.descricao-porto button:hover {
  background-color: #D5D1BD;
  color: #ffffff;
}

/* NEW YORK */
.newyork-container{
  position: relative;
  max-width: 250px;  
  margin: 0;
  overflow: hidden;
}

.wallpaper-newyork{
  width: 100%;
  height: 300px;  /* altura da imagem (300px) */
  overflow: hidden;
}

.newyork-img{
  width: 220%;
  height: auto;
  display: block;
  transform: translateX(-37%); /* altera posicao da imagem no container */
}

.descricao-newyork{
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  height: 179px; /* alterar tamanho da caixa branca */
}

.descricao-newyork h2 {
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
  font-style: italic;
  font-weight: 580;
  color: #384469; 
}

.descricao-newyork p {
  margin-top: -20px;
  margin-left: -10px;
  margin-bottom: 10px;
  color: #384469;
}

.descricao-newyork button {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffffff;
  color: #b9ac92;
  padding: 10px 20px;
  border: 1px solid #b9ac92;
  border-radius: 2px;
  margin-top: 24px;
  margin-left: -10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.descricao-newyork button:hover {
  background-color: #D5D1BD;
  color: #ffffff;
}

/* DUBAI */
.dubai-container{
  position: relative;
  max-width: 250px;  
  margin: 0;
  overflow: hidden;
}

.wallpaper-dubai{
  width: 100%;
  height: 300px;  /* altura da imagem (300px) */
  overflow: hidden;
}

.dubai-img{
  width: 220%;
  height: auto;
  display: block;
  transform: translateX(-37%); /* altera posicao da imagem no container */
}

.descricao-dubai{
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  height: 179px; /* alterar tamanho da caixa branca */
}

.descricao-dubai h2 {
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
  font-style: italic;
  font-weight: 580;
  color: #384469; 
}

.descricao-dubai p {
  margin-top: -20px;
  margin-left: -10px;
  margin-bottom: 10px;
  color: #384469;
}

.descricao-dubai button {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffffff;
  color: #b9ac92;
  padding: 10px 20px;
  border: 1px solid #b9ac92;
  border-radius: 2px;
  margin-top: 24px;
  margin-left: -10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.descricao-dubai button:hover {
  background-color: #D5D1BD;
  color: #ffffff;
}

/* TE R see all btn */
.see-all-te_r_btn {
  background-color: #384469;
  color: #fff;
  font-family: 'Spectral', serif;
  font-style: italic;
  font-size: 17px;
  padding: 7px 30px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px auto 0;
  transition: background-color 0.5s ease;
}

.see-all-te_r_btn:hover {
  background-color: #272f49;
}

.see_all-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 110px;
  margin: 0 auto;
}


/* About Travel Enthusiasts */
.about-TE {
  margin-top: 125px;
}

.date-TE{
  font-family: 'Spectral', serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 100;
  color: #384469;
  margin-top: 100px;
  margin-left: 500px;
}

.about-TE h1 {
  font-family: serif;
  font-style: italic;
  font-weight: 600;
  font-size: 55px;
  color: #384469;
  margin-top: -35px;
  margin-left: 500px;
}

.resumo-TE {
  background-color: #E6E3D2;
  border: 3px solid #D5D1BD;
  padding: 10px;
  margin-top: -25px;
  margin-left: 500px;
  margin-right: 500px;
}

.resumo-TE p { 
  font-family: 'Spectral', serif;
  font-style: italic;
  font-size: 25px;
  color: #384469;
  text-shadow: 1px 0px 0px #384469;
  filter: brightness(1.2); 
  text-align: center;
  margin-top: 25px;
}

.assinatura-DS {
  margin-top: 10px;
  margin-left: 500px;
}

.assinatura-DS img {
  max-width: 10%;
  height: auto;
}

.DS-CEO {
  font-family: 'Spectral', serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 100;
  color: #384469;
  margin-top: 1px;
  margin-left: 500px;
  margin-bottom: 0;
}

/* BTN scroll up */
.up-arrow-btn {
  width: 40px;
  height: 40px;
  margin-left: 1850px;
  margin-top: 200px;
  color: #384469;
  background-color: transparent;
  border: none;
  padding: 0; 
  cursor: pointer;
}


/* FOOTER */
.footer-TE {
  background-color: #384469;
  color: #fff;
  padding: 4px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-TE a {
  text-decoration: none;
}

.footer-conteudo {
  position: relative;
} 

/* Logo and Socials */
.footerlogo-container {
  margin-top: 20px;
  margin-left: 30px;
}

.footerlogo-container img {
  width: 320px;
  height: auto;
}

.socials-container {
  display: flex;
  margin-top: 25px;
  margin-left: 115px;
}

.socials-container img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.youtube { /* posicionar logo youtube */
  margin-left: 13px;
}

.rights-reservedTXT {
  font-family: 'Spectral', serif;
  font-size: 10px;
  font-weight: 600;
  color: #ffffffc5;
  margin-bottom: 0px;
  margin-left: 82px;
}


/* Linha vertical 1 */
.vertical-line1 {
  border-left: 1px solid #ffffffa4;
  height: 180px;
  position: absolute;
  top: 15px;
  left: 420px;
  bottom: 0;
}


/* Newletter */
.newsletter-txt {
  font-family: serif;
  font-style: italic;
  position: absolute;
  top: -20%; 
  left: 850px; 
  font-size: 35px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.616);
}

.newsletter-container {
  width: 800px;
  background-color: transparent;
  border-radius: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  position: absolute;
  left: 650px;
  margin: 0;
  top: 130px;
  transform: translateY(-50%);
}

.newsletter-container input[type="emailInput"] {
  width: 500px;
  padding: 9px;
  box-sizing: border-box;
  font-family: 'Spectral', serif;
  font-style: italic;
  font-size: 15px;
  outline: 0;
}

.newsletter-container input[type="emailInput"]::placeholder {
  font-size: 15px;
  font-family: 'Spectral', serif;
  font-style: italic;
}

button[type="subBtn"] {
  width: 100px;
  padding: 8px;
  font-family: 'Spectral', serif;
  font-size: 15px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  background-color: #384469; 
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
}

button[type="subBtn"]:hover {
  background-color: #272f49;
}


/* Linha vertical 2 */
.vertical-line2 {
  border-left: 1px solid #ffffffa4;
  height: 180px;
  position: absolute;
  top: 15px;
  left: 1480px;
  bottom: 0;
}


/* Contacts + Terms + Privacy */
.containerTxt-1 {
  font-family: serif;
  font-style: italic;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.616);
  margin-left: 1650px;
  margin-top: -150px;
  text-decoration: none;
}

.containerTxt-2 {
  font-family: serif;
  font-style: italic;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.616);
  margin-left: 1620px;
  margin-top: -30px;
  text-decoration: none;
  padding: 0;
}

.containerTxt-3 {
  font-family: serif;
  font-style: italic;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.616);
  margin-left: 1630px;
  margin-top: -30px;
  margin-bottom: 10px;
  text-decoration: none;
}